<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>The Caffeinated Markup Language</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
		<link href="style/style.css" rel="stylesheet">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
		<script src="js/controllers.js"></script>
	</head>
	<body>

		<div class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a href="index.html" class="navbar-brand"><i class="fa fa-coffee"></i> Caffeinated Markup</a>
					<ul class="nav navbar-nav">
						<li><a href="index.html"><i class="fa fa-home" aria-hidden="true"></i> about</a></li>
						<li><a href="syntax.html"><i class="fa fa-code" aria-hidden="true"></i> syntax</a></li>
						<li><a href="developers.html"><i class="fa fa-code-fork" aria-hidden="true"></i> developers</a></li>
					</ul>
				</div>
			</div><!-- container -->
		</div><!-- nav -->

	<div class="container under-header">

		<header>
			<h1><i class="fa fa-code"></i> Syntax</h1>
		</header>

		<div class="row">
			<div class="col-md-12">

			<p>
			This page defines the syntax available in the <em>Caffeinated Markup</em>
			specification.
			</p>

			<h2>Escaping</h2>
			<p>
			Escaping markup text in other languages can be a bit of a pain. Sometimes you seem to
			spend a lot of time fiddling around just to get a piece of markup-syntax to be printed
			as literal text without going though various acrobatic hoops.
			</p>
			<p>
			To that end, escaping in <em>Caffeinated Markup</em> is designed to be as simple
			as possible so you can spend more time on your content and less time fighting your
			markup language!
			</p>
			<p>
			<em>Caffeinated Markup</em> gives you two simple options for escaping:
			</p>
			<ul>
				<li><a href="#block-escape">Block escape</a></li>
				<li><a href="#character-escape">Single character escape</a></li>
			</ul>
			<p>
			For those times when you just need to stop a sequence being interpreted as markup,
			use the <a href="#character-escape">single character escape</a>:
			</p>
			<pre>**This will be emphasised**, but \**this\** will just be surrounded by stars!</pre>
			<p>
			Of course, if there's a lot you need to escape it can be tedious let alone messy to
			have to escape every single sequence. For this eventuallity there's the
			<a href="#block-escape">block escape</a>.
			</p>
			<p>
			Consider the following:
			</p>
			<pre>This \**has\** a lot of \{{literal markup\}} that we \[[don't want to be interpreted\//</pre>
			<p>
			That works, but this is much cleaner!
			</p>
			<pre>%%This **has** a lot of {{literal markup}} that we [[don't want to be interpreted//%%</pre>
			</div>
		</div>

		<hr>

		<div class="row">
			<div class="col-md-12">
			<h2>Available syntax</h2>
			<p>Without further ado, this is the syntax that comprises <en>Caffeinated Markup</em>:
			</div>
		</div>

		<div class="row" ng-app="syntaxReference" ng-controller="SyntaxCtrl">


			<div class="col-md-3">
				<div id="states-left-nav" class="panel panel-default">
					<div class="panel-heading">
						<a class="anchor" id="syntax"></a>
						Syntax
						<span id="syntax-version-label" class="label label-primary">version 1.0.0 (draft)</span>
					</div>
					<ul class="nav nav-stacked">
						<li ng-repeat="item in syntax"><a href="#{{ item.name | dashIt }}">
							<span class="fa-stack">
								<i class="fa fa-square fa-stack-2x"></i>
								<i class="fa fa-{{item.icon}} fa-stack-1x fa-inverse"></i>
							</span>
							{{item.name}}</a></li>
					</ul>
				</div>
			</div>

			<div class="col-md-9">
				<div ng-repeat="item in syntax" class="syntax-item">
					<span class="anchor">
						<a class="anchor" id="{{item.name | dashIt}}"></a>
					</span>
					<h3>
						<span class="fa-stack">
							<i class="fa fa-square fa-stack-2x"></i>
							<i class="fa fa-{{item.icon}} fa-stack-1x fa-inverse"></i>
						</span>
						{{item.name}}
					</h3>
					<blockquote class="may-contain"><strong>May contain:</strong> <em ng-bind-html-unsafe="item.may_contain | hyperlinkSyntax"></em></blockquote>
					<pre>{{item.example}}</pre>
					<p ng-bind-html-unsafe="item.description"></p>
					<p class="back-up"><a href="#syntax">back to top <i class="fa fa-arrow-up"></i></a></p>
				</div>
			</div><!-- right col -->
		</div><!-- row -->



	</div>

	</body>
</html>
