<!DOCTYPE html>
<html>
	<head>
		<title>The Caffeinated Markup Language</title>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
		<script src="js/controllers.js"></script>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
		<link href="style/style.css" rel="stylesheet">
	</head>
	<body>

	<!-- TODO refactor to common -->
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">

			<div class="navbar-header">

				<a href="index.html" class="navbar-brand">Caffeinated Markup</a>

				<ul class="nav navbar-nav">
					<li><a href="index.html"><span class="glyphicon glyphicon-home"></span> about</a></li>								

					<li class="dropdown">
						<a href="dropdown-toggle" data-toggle="dropdown" href="#">
							<span class="glyphicon glyphicon-user"></span> users <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="syntax.html">syntax</a></li>
						</ul>
					</li>

					<li class="dropdown">
						<a href="dropdown-toggle" data-toggle="dropdown" href="#">
							<span class="glyphicon glyphicon-flash"></span> developers <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="tokenization-rules.html">tokenization</a></li>
						</ul>
					</li>					
				</ul>

			</div>

		</div><!-- container -->
	</div><!-- nav -->
	<!-- TODO refactor to common -->

		
	<div class="container under-header">

		<header>
			<h1>Syntax</h1>

			<div class="panel panel-danger">
				<div class="panel-heading">
					<h1 class="panel-title">Work in progress!</h1>
				</div>
				<div class="panel-body">
					Please note that this documentation is currently a work in progress and
					not complete yet.
				</div>
			</div>
		</header>



		<p>
		This page defines the syntax available in the <em>Caffeinated Markup</em>
		specification.
		</p>

		<div class="row" ng-app="syntaxReference" ng-controller="SyntaxCtrl">

			<div class="col-md-3">
				<div id="states-left-nav" class="panel panel-default">					
					<div class="panel-heading">
					Syntax
					</div>
					<ul class="nav nav-stacked">
						<li ng-repeat="item in syntax"><a href="#{{ item.name | dashIt }}">{{item.name}}</a></li>
					</ul>					
				</div>
			</div>

			<div class="col-md-9">

				<div ng-repeat="item in syntax" class="syntax-item">

				<h3><a name="{{item.name}}">{{item.name}}</a></h3>				
						
				<p>
				{{item.description}}
				</p>
				<pre>{{item.example}}</pre>
				<strong>May contain:</strong> <em ng-bind-html-unsafe="item.may_contain | hyperlinkSyntax"></em>		
				</div>

			</div><!-- right col -->

		</div><!-- row -->
		


	</div>

	</body>
</html>
