<!DOCTYPE html>
<html>
	<head>
		<title>Tokenization rules</title>		
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
		<script src="js/controllers.js"></script>

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
		<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
		<link href="style/style.css" rel="stylesheet">
	</head>
	<body>

	<!-- TODO refactor to common -->
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">

			<div class="navbar-header">

				<a href="index.html" class="navbar-brand">Caffeinated Markup</a>

				<ul class="nav navbar-nav">
					<li><a href="index.html"><span class="glyphicon glyphicon-home"></span> about</a></li>								

					<li class="dropdown">
						<a href="dropdown-toggle" data-toggle="dropdown" href="#">
							<span class="glyphicon glyphicon-user"></span> users <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="syntax.html">syntax</a></li>
						</ul>
					</li>

					<li class="dropdown">
						<a href="dropdown-toggle" data-toggle="dropdown" href="#">
							<span class="glyphicon glyphicon-flash"></span> developers <span class="caret"></span>
						</a>
						<ul class="dropdown-menu">
							<li><a href="tokenization-rules.html">tokenization</a></li>
						</ul>
					</li>					
				</ul>

			</div>

		</div><!-- container -->
	</div><!-- nav -->
	<!-- TODO refactor to common -->


	<div class="container under-header">


		<header>
			<h1>Tokenization</h1>

			<div class="panel panel-danger">
				<div class="panel-heading">
					<h1 class="panel-title">Work in progress!</h1>
				</div>
				<div class="panel-body">
					Please note that this documentation is currently a work in progress and
					not complete yet.
				</div>
			</div>
		</header>

		<h2>Notes</h2>

		<div>
			<h3>The State Stack</h3>
			<p>
			The tokenization rules for <em>Caffeinated Markup</em> are implemented via <em>stacked state machine</em>. The current state
			is always defined as the head of the stack. The stack itself should begin loaded in <em>data</em> state and should not be empty during
			the parsing of a document. An empty stack should be raised as a <em>parser error</em>
			</p>
			<p>
			The stack defines 3 operations for manipulation:
			</p>
			<ul>
				<li><strong>Push</strong> - push a given state onto the head of the stack, extending the length of the stack.</li>
				<li><strong>Pop</strong> - pop the current head off the stack, shortening the length of the stack.</li>
				<li><strong>Swap</strong> - swap the current stack head with the given new state, leaving the stack the same length.</li>
			</ul>			
			<div class="alert alert-info">
				<strong><em>Note:</em></strong> although this reference implementation uses this approach it doesn't prescribe that <em>all</em>
				implementations need do this exactly. As long as the output matches what would be generated by this machine (i.e. same
				defined tokens in correct order with expected content) any approach (regexes, states with contexts etc) is acceptable.
			</div>
		</div>

		<div>
			<h3>Appending characters to the <em>current token</em></h3>
			<p>
			When the rules state "append X to current <Y> token", the current character (or specific character given in <em>X</em>)
			should be appended to the current <em>context</em> of the current token.
			</p>
			<p>
			For example, if the current token is a <em>link token</em> and it's context is <em>text</em> then the character should be
			appended to the <em>text</em> attribute of that token.
			</p>
		</div>

		<hr>

		<section id="states">
			<h2><a name="state-reference">State Reference</a></h2>
			<p>
			Each iteration of the state machine should <em>consume the next character</em> in the input stream before processing. If
			a state calls for <em>re-consume character</em> then the consumed character should be pushed back onto the end of the
			input stream.
			</p>

			<div class="row" ng-app="stateMachine" ng-controller="StatesCtrl">
				
				<div class="col-md-3">
					<div id="states-left-nav" class="panel panel-default">
						<div class="panel-heading">
						States
						</div>
						
							<ul class="nav nav-stacked">
								<li ng-repeat="state in states"><a href="#{{state.state_name}}-state">{{state.state_name}}</a></li>							
							</ul>
						
					</div>
				</div>

				<div id="state-list" class="col-md-9">

					<div ng-repeat="state in states">						

						<div class="back-to-top"><a href="#state-reference">top <span class="glyphicon glyphicon-open"></span></a></div>
						<h3><a name="{{state.state_name}}-state">{{state.state_name}} state</a></h3>
						<ul class="chars">
							<li ng-repeat="char in state.rules">{{char.char}}
							<ul>
								<li class="char-action" ng-repeat="action in char.actions" ng-bind-html-unsafe="action"></li>
							</ul>			
							</li>				
						</ul>

						<hr>										

					</ul>


					</div>

				</div>

			</div> <!-- row -->

		</section>

		
	</div><!-- container -->

	<script type="text/javascript">

		$( document ).ready(function() {
			
			/*
			var $nav = $('#states-left-nav');
			$(window).scroll( function() {

				if ($(window).scrollTop() > $nav.offset().top) {
					//alert("Gone!");
					$nav.css({'position':'fixed','top':'50px'});					
				}
				else {
					$nav.css({'position':'static'});
					
				}
			});
			*/
			

		    
		});

	</script>


	</body>
</html>
